body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: #385170;
    color: #ececec;
    padding-top: 150px;
    min-height: 100vh;
}

main{
    width: 90%;
    margin: 0 auto;
}

header span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #385170;
    padding: 5px;
    font-size: 250%;
    letter-spacing: 15px;
    width: 100%;
    height: 75px;
    font-weight: 800;
    text-align: center;
    
}

header {
    background-color: #9fd3c7;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 25px 30px 5px #142d4c;
}

div#nav{
    display: flex;
    justify-content: left;
    padding: 5px;
    gap: 5px;
    width: 100%;
}

button.tablink{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    background-color: #385170;
    font-size: 180%;
    border: none;
    height: 75px;
    box-shadow: 0px 5px 10px 2px rgba(12, 12, 15, 0.507);
    padding: 1% 2%;
    color: white;
    transition: 0.5s ease-in-out;
    font-weight: 800;
    width: 100%;
}


button:hover{
    background-color: #142d4c;
    color: #ececec;
    
}
button.active {
    background-color: #142d4c;
    color: #ececec;
}

#Data{
    border-spacing: 8px;
    margin: 0 auto;
    width: 80%;
}

#Data td, #Data th{
    border: 1px solid #ececec; 
    padding: 10px;
    text-align: center;
    font-size: 120%;
}

#Data th{
    border: 1px solid #ececec;
    color: #9fd3c7;
    text-shadow: 0 0 10px #142d4c;
    font-weight: 600;
    font-size: 140%;
}

#Data th:hover{
    color: #142d4c;
    text-shadow: 0 0 10px #ececec;
    cursor: pointer;
}

footer{
    margin-top: 5px;
	height: 30px;
	width: 100%;
	background-color: #9fd3c7;
    text-align: right;
    color: #142d4c;
    -webkit-box-shadow: 0px -6px 36px 0px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px -6px 36px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 0px -6px 36px 0px rgba(0, 0, 0, 0.78);
}

.tabcontent {
    min-height: 100%;
    padding: 40px;
}

#first_table {
    border-spacing: 8px;
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 25%;
}

canvas {
    width: 10%;
}

.open_github {
  width: 50%;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #3226d4;
  margin-right: auto;
  border-radius:15px;
  padding: 15px 32px;
  border: none;
}